$orange : #ffa600;
$gray : #f3f3f3;
$white : #fff;
$base-color: $orange;

@mixin transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@mixin corners($radius){
    -moz-border-radius:$radius;
    -webkit-border-radius:$radius;
    border-radius:$radius;
    -khtml-border-radius:$radius;
}

body{
    background-color: $base-color;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100vh;
}

.wrapper{
    widows: 800px;
    margin:30px auto;
    color:$white;
    text-align: center;
}

h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:2rem;
    text-transform: uppercase;
}

#min,#seconds, #tens{
    font-size:1.8rem;
}

button{
    @include corners(5px);
    background: $base-color;
    color: $white;
    border:1px solid $white;
    text-decoration: none;
    cursor: pointer;
    font-size:1.2rem;
    padding:20px;
    width:180px;
    margin:10px;
    margin:10px;
    outline:none;
    &:hover{
        @include transition;
        background:$white;
        border:1px solid $white;
        color:$base-color;
    }
}